.content {
  width: 1019px;
  height: 626px;
  left: 186px;
  top: 179px;
  margin-left: 458px;
  background: #1b2130;
  border-radius: 10px;
}
// body {
//   // background-color: black;
// }
.keepers-content {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.kepers-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.keepers-content_2 {
  width: 792px;
  height: 31px;
  left: 251px;
  top: 294px;

  background: rgba(0, 122, 255, 0.8);
  border-radius: 5px;
}
